body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f2ff; /* Light blue background */
    color: #333333; /* Dark grey text color for better contrast */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
    color: #28a745;
  }
  
  p {
    color: #0056b3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .links {
    width: 100%;
    max-width: 300px;
    margin-right: 20px;
    text-align: center;
  }
  
  .links ul {
    list-style: none;
    padding: 0;
  }
  
  .links li {
    margin-bottom: 10px;
  }
  
  .links a {
    text-decoration: none;
    color: #0056b3; /* Dark blue color for better contrast */
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .calculator {
    width: 100%;
    max-width: 500px;
    margin: 10px;
    text-align: center;
  }
  
  footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    text-align: center;
  }
  
  input[type="date"], button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #28a745; /* Green button */
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838; /* Darker green on hover */
  }
  
  @media (min-width: 768px) {
    main {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .links {
      order: 1; /* Keep links on the left */
    }
  
    .calculator {
      order: 2; /* Keep calculator on the right */
    }
  }
  